.gold, .gold > th, .gold > td {
  background-color: gold; }

.silver .silver > th, .silver > td {
  background-color: #adacac; }

.bronze .bronze > th, .bronze > td {
  background-color: #e7ab6f; }

.sky, .sky > th, .sky > td {
  background-color: #e7f5fe; }

.saffron, .saffron > th, .saffron > td {
  background-color: #f4c430; }

.green, .green > th, .green > td {
  background-color: #59c559; }

.level-color-00, .level-color-00 > th, .level-color-00 > td {
  background-color: #B2FFB2; }

.level-color-01, .level-color-01 > th, .level-color-01 > td {
  background-color: #D7FFB2; }

.level-color-02, .level-color-02 > th, .level-color-02 > td {
  background-color: #ECFFB2; }

.level-color-03, .level-color-03 > th, .level-color-03 > td {
  background-color: #F7FFB2; }

.level-color-04, .level-color-04 > th, .level-color-04 > td {
  background-color: #FCFFB2; }

.level-color-05, .level-color-05 > th, .level-color-05 > td {
  background-color: #FFF1B2; }

.level-color-06, .level-color-06 > th, .level-color-06 > td {
  background-color: #FFECB2; }

.level-color-07, .level-color-07 > th, .level-color-07 > td {
  background-color: #FFE7B2; }

.level-color-08, .level-color-08 > th, .level-color-08 > td {
  background-color: #FFD2B2; }

.level-color-09, .level-color-09 > th, .level-color-09 > td {
  background-color: #FFC7B2; }

.level-color-10, .level-color-10 > th, .level-color-10 > td {
  background-color: #FFB2B2; }

/*# sourceMappingURL=main.css.map */
