.gold, .gold > th, .gold > td, span.badge.Gold {
    background-color: gold;
}
.silver .silver > th, .silver > td, span.badge.Silver {
    background-color: rgb(173, 172, 172)
}
.bronze .bronze > th, .bronze > td, span.badge.Bronze {
    background-color: rgb(231, 171, 111);
}
.sky, .sky > th, .sky > td, span.badge.HonorableMention {
    background-color: rgb(231, 245, 254);
}
.saffron, .saffron > th, .saffron > td {
    background-color: rgb(255,192,129);
}
.green, .green > th, .green > td {
    background-color: rgb(143, 231, 143);
}
.level-color-00, .level-color-00 > th, .level-color-00 > td {
    background-color: #B2FFB2;
}
.level-color-01, .level-color-01 > th, .level-color-01 > td {
    background-color: #D7FFB2;
}
.level-color-02, .level-color-02 > th, .level-color-02 > td {
    background-color: #ECFFB2;
}
.level-color-03, .level-color-03 > th, .level-color-03 > td {
    background-color: #F7FFB2;
}
.level-color-04, .level-color-04 > th, .level-color-04 > td {
    background-color: #FCFFB2;
}
.level-color-05, .level-color-05 > th, .level-color-05 > td {
    background-color: #FFF1B2;
}
.level-color-06, .level-color-06 > th, .level-color-06 > td {
    background-color: #FFECB2;
}
.level-color-07, .level-color-07 > th, .level-color-07 > td {
    background-color: #FFE7B2;
}
.level-color-08, .level-color-08 > th, .level-color-08 > td {
    background-color: #FFD2B2;
}
.level-color-09, .level-color-09 > th, .level-color-09 > td {
    background-color: #FFC7B2;
}
.level-color-10, .level-color-10 > th, .level-color-10 > td {
    background-color: #FFB2B2;
}

table.table {
    text-align: center;
    tbody tr td, th {
        padding: 10px;
        vertical-align: middle;
        height: 60px;
    }
    tbody tr td span span.badge {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.registration {
    display: block;
}