<template>
  <main class="container">
    <!-- Heading: Video -->
    <div class="row" id="home-heading">
      <h1>Welcome to The Panini Linguistics Olympiad!</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/NswIrzAasck?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> </iframe>
      </div>
      <div class="text-center full-width"> ^ The Panini Linguistics Olympiad 2015 ^ </div>
    </div>
    <div class="registration full-width text-center">
      <a href="https://ltrc.iiit.ac.in/nlpmt/plo/registration.php" class="btn-lg btn-success">Click Here to Register!</a>
    </div>
    <!-- Heading: About the Olympiad -->
    <div class="row" id="home-about">
      <h1>About the Olympiad</h1>
      <p class="text-left">PLO is a <!--TODO: words flip and display--> &lt;- <mark class="text-highlight pink">fun</mark>, <mark class="text-highlight green">exciting</mark>, <mark class="text-highlight blue">educational</mark>, <mark class="text-highlight yellow">challenging</mark>, <mark class="text-highlight red">puzzling</mark>, <mark class="text-highlight blue">linguistic</mark> -&gt; competition for students studying in grades 6th to 8th (Juniors) and 9th to 12th (Seniors). This competition helps foster problem solving, computational thinking and appreciation for the linguistic diversity and linguistics in general.</p>
      <p class="text-left">Here, you can challenge your mind against puzzles in logic, language and linguistics, from <span class="font-italic">deciphering flower formulae</span> to <span class="font-italic">tracking the evolution of Nna</span>. To actually get on solving these, you don’t need to have any prior knowledge of Linguistics or languages !</p>
      <p class="font-weight-bold text-right font-italic"><mark class="text-highlight yellow">Yes! you totally read that right, to know more, continue to</mark> <router-link to="/olympiad/plo">What is PLO?</router-link></p>
    </div>
    <!-- Olympiad Home -->
    <div class="row" id="home-olympiads">
      <p class="text-left">From the Panini Linguistics Olympiad, the top performing students are selected to represent India at the The International Linguistics Olympiad (IOL).</p>
      <p class="text-left">From the official <a href="http://www.ioling.org">website</a></p>
      <p class="text-left">“The IOL is one of 12 International Science Olympiads for secondary school students, and has been held annually since 2003. Each year, teams of young linguists from around the world gather and test their minds against the world's toughest puzzles in language and linguistics.</p>
      <p class="text-left">No prior knowledge of linguistics or languages is required: even the hardest problems require only your logical ability, patient work, and willingness to think around corners.”</p>
      <p class="font-weight-bold text-right font-italic"><mark class="text-highlight red">Continued at</mark> <router-link to="/olympiad/iol">What is IOL?</router-link></p>
    </div>
    <!-- Timeline Olympiad -->
    <div class="row" id="home-timeline">
      <Timeline />
      <p class="font-weight-bold text-right font-italic"><mark class="text-highlight blue">Still have questions? Have a look at</mark> <router-link to="/participate/">FAQs</router-link></p>
    </div>
    <!-- History of PLO -->
    <div class="row" id="home-history">
      <p class="text-left">India first competed in the IOL in 2009, and has competed in 10 consecutive IOLs since then. We most recently competed in 2018, and have proudly been represented by 56 participants in 14 teams.</p>
      <p class="text-left">These outstanding participants have brought home <mark class="text-highlight yellow">2 gold, 5 silver, 10 bronze</mark> - (17 medals in total), 8 best-solution prizes, and 10 honorable mentions.</p>
      <p class="font-weight-bold text-right font-italic"><mark class="text-highlight green">Continued at </mark><router-link to="/previous/">History@IOL</router-link></p>
    </div>
    <!-- Sample Question -->
    <div class="row text-center" id="home-question">
      <p>To get a feel, try this sample problem. </p>
      <div class="row" style="width: 100%;"><img src="../assets/img/home-sampleproblem.png" class="img-fluid" style="margin: auto;" /></div>
      <p><button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Click Here to view a Hint!</button></p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          K = outermost green layer, C= next whorl, A = next – the yellow dots, and G the innermost = orange. The number of elements in the whorl is subscripted.
          <br/> To view the full solution, find this problem on the <mark class="text-highlight blue"><router-link to="/resource/"> Resources page.</router-link></mark>
        </div>
      </div>
    </div>
    <!-- What's Linguistics -->
    <div class="row" id="home-linguistics">
      <p class="text-left font-weight-bold">Finally, What is Linguistics?</p>
      <p class="text-left">Is it about knowing multiple languages? <mark class="text-highlight red">NO.</mark></p>
      <p class="text-left">Is it about knowing how to become more proficient than anyone else in a single language? <mark class="text-highlight red">NO</mark></p>
      <p class="text-left">Is it about how AI assistants understands us, how <span class="font-italic">shakkar</span> (Hindi and Urdu for sugar) and <span class="font-italic">sugar</span> come actually from the same origin and how a child learns how to speak? <mark class="text-highlight green">YES.</mark></p>
      <p class="text-left">And we totally did not make this up, don’t believe us?</p>
      <p class="font-weight-bold text-right font-italic"><mark class="text-highlight pink">Go to the</mark> <router-link to="/whatis/linguistics">What is Linguistics?</router-link> <mark class="text-highlight pink">section and be sure to check out future prospects too!</mark></p>
    </div>
  </main>
</template>

<script>
  import Timeline from '../components/participate/Timeline';
  export default {
    name: 'Home',
    components: {Timeline},
    mounted() {
      document.getElementById('register-alert').hidden = true;
      $(() => { $('[data-toggle="popover"]').popover(); });
    },
    destroyed() {
      document.getElementById('register-alert').hidden = false;
    },
  };
</script>

<style scoped lang="scss">
  #home-about, #home-participate, #home-timeline, #home-heading,
  #home-olympiads, #home-history, #home-linguistics, #home-question {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    h1, p, h3 {
      text-align: center;
      width: 100%;
    }
  }

  .full-width {
    width: 100%;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #home-timeline {
    margin-top: 20px;
    margin-bottom: 20px;
    h1 {
      margin-top: 50px;
    }
  }

  div.embed-responsive {
    margin-bottom: 50px;
  }

  div.d-flex div span {
    font-weight: bold;
  }

  main {
    padding-bottom: 50px;
  }

  .regsitration {
    display: none;
  }
</style>