<template>
  <div class="container">
    <h1>Important Dates</h1>
    <div class="text-center text-larger">
      Here is the timeline for PLO 2019. <mark class="text-highlight yellow">Mark</mark> your calendars!
    </div>
    
    <div id="timeline-participate">
      <Timeline />
    </div>

    <h1>FAQs</h1>
    <div class="text-center text-larger">
      <p>
      Here are some <mark class="text-highlight green">frequently asked questions</mark> about the contest:
      </p>
    </div>
    <div id="faq">
      <div class="panel list-group">
      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q1" data-parent="#faq">
        How does a student <mark class="text-highlight blue">register</mark> for the competition?
      </a>
      <div class="collapse" id="q1">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
          The registration link will be available on this website in the first week of December.</span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q5" data-parent="#faq">
        What <mark class="text-highlight blue">knowledge and skills</mark> do I need?
      </a>
      <div class="collapse" id="q5">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
          <em>In short:</em> You definitely need a fresh brain, couple of pencils and pens and a lot of patience!<br/>
          <em>Longer version:</em> You mostly need logical thinking, as well as general awareness of directions, calendars, etc. 
          You do not need prior knowledge of linguistics, computer science, programming, or foreign languages.</span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q2" data-parent="#faq">
        How <mark class="text-highlight blue">long</mark> is the Round 1 contest?
      </a>
      <div class="collapse" id="q2">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
          The contest will last for 4 hours.</span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q3" data-parent="#faq">
        How many <mark class="text-highlight blue">problems</mark> should I expect?
      </a>
      <div class="collapse" id="q3">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
          Expect around 6-8 problems in the contest booklet. </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q4" data-parent="#faq">
        Where can I find <mark class="text-highlight blue">example problems</mark> and related reading materials?
      </a>
      <div class="collapse" id="q4">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
          You can find some reading materials under the Resources tab. 
          Note that these are not required reading to participate. 
          You can also find past problems under the Resources tab.<br/>
          You can find even more problems by going to the other Linguistics Olympiads 
          section below or by surfing the web 😉
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Timeline from '../components/participate/Timeline';
  export default {
    components: { Timeline },
  };

</script>

<style scoped lang="scss">
  div.container {
    padding: 20px;
    font-size: x-large;
    text-align: justify;
    h1 {
      text-align: center;
      font-size: 3.5rem;
      padding-bottom: 20px;
    }
  }
  #timeline-participate {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
