<template>
  <main class="container">
    <div class="row col-sm-12 col-xs-12">
      <ul class="nav nav-pills nav-fill nav-pill-primary">
        <li v-for="year in years" :key="year.id" class="nav-item">
          <a class="nav-link" v-on:click="setYearValue(year)"
            v-bind:class="{ active : getYearValue(year) } ">{{year.year}}</a>
        </li>
      </ul>
    </div>
    <div class="row col-sm-12 col-xs-12">
      <ul class="nav nav-pills nav-fill nav-pill-secondary">
        <li class="nav-item" v-if="yearValue.hasOwnProperty('iol')">
          <a class="nav-link" v-on:click="setTabValue(tabs.tabAbout.id)"
            v-bind:class="{ active : getTabValue(tabs.tabAbout.id) } ">{{tabs.tabAbout.name}}</a>
        </li>
        <li class="nav-item" v-if="yearValue.hasOwnProperty('about')">
          <a class="nav-link" v-on:click="setTabValue(tabs.tabProblems.id)"
            v-bind:class="{ active : getTabValue(tabs.tabProblems.id) } ">{{tabs.tabProblems.name}}</a>
        </li>
        <li class="nav-item" v-if="yearValue.hasOwnProperty('seniorStatistics')">
          <a class="nav-link" v-on:click="setTabValue(tabs.tabStatistics.id)"
            v-bind:class="{ active : getTabValue(tabs.tabStatistics.id) } ">{{tabs.tabStatistics.name}}</a>
        </li>
        <li class="nav-item" v-if="yearValue.hasOwnProperty('campees')">
          <a class="nav-link" v-on:click="setTabValue(tabs.tabCampees.id)"
            v-bind:class="{ active : getTabValue(tabs.tabCampees.id) } ">{{tabs.tabCampees.name}}</a>
        </li>
      </ul>
    </div>
    <div class="row" v-if="tabValue === 1">
      <tabIOL :post="yearValue.iol"></tabIOL>
    </div>
    <div class="row" v-if="tabValue === 2">
      <tabPLO :post="yearValue.about" :questions="yearValue.questions" :year="yearValue.year"></tabPLO>
    </div>
    <div v-if="tabValue === 3" id="plo-stats-table">
      <tabStats :juniors="yearValue.juniorStatistics" :seniors="yearValue.seniorStatistics"></tabStats>
    </div>
    <div v-if="tabValue === 4">
      <tabCampees :campees="yearValue.campees"></tabCampees>
    </div>
  </main>
</template>

<script>
  import tabIOL from '../components/plo/iol';
  import tabPLO from '../components/plo/questions';
  import tabStats from '../components/plo/stats';
  import tabCampees from '../components/plo/campees';
  import json from '../data/PloHistory.json';
  
  export default {
    name: 'PloHistory',
    components: {tabIOL, tabPLO, tabStats, tabCampees},
    data() {
      return {
        yearValue: json.year2018,
        tabValue: 1,
        years: json,
        tabs: {
          tabAbout: {id: 1, name: '@IOL'},
          tabProblems: {id: 2, name: '@PLO'},
          tabStatistics: {id: 3, name: 'Stats'},
          tabCampees: {id: 4, name: '@Camp'},
        },
      };
    },
    methods: {
      setYearValue(num) {
        this.yearValue = num;
        if (this.tabValue === this.tabs.tabCampees.id &&
              !this.yearValue.hasOwnProperty('campees')) {
            this.setTabValue(this.tabs.tabAbout.id);
          }
      },
      getYearValue(num) {
        return this.yearValue.year === num.year;
      },
      setTabValue(num) {
        this.tabValue = num;
      },
      getTabValue(num) {
        return this.tabValue === num;
      },
    },
    watch: {
      '$route.params.tab'(to) {
        if (to === 'iol') {
          this.setTabValue(1);
        } else if (to === 'plo') {
          this.setTabValue(2);
        } else if (to === 'stats') {
          this.setTabValue(3);
        } else if (to === 'camp') {
          this.setTabValue(4);
        } else {
          this.setTabValue(1);
        }
      },
    },
    mounted() {
      if (this.$route.params.tab === 'iol') {
        this.setTabValue(1);
      } else if (this.$route.params.tab === 'plo') {
        this.setTabValue(2);
      } else if (this.$route.params.tab === 'stats') {
        this.setTabValue(3);
      } else if (this.$route.params.tab === 'camp') {
        this.setTabValue(4);
      } else {
        this.setTabValue(1);
      }
    },
  };

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  ul {
    width: 100%;
    margin: 10px;
    &.nav-pill-primary li {
      a {
        color: rebeccapurple;
      }
      a.active {
        background-color: rebeccapurple;
        color: white;
      }
    }
  }

  div.card {
    margin: 10px;
  }
  div li a {

    transition: all 1s ease;
  }
  div#plo-stats-tables div table {
    text-align: center;
  }
  #plo-campeesList {
    text-align: center;
    margin: 10px;
  }
</style>