<template>
  <main class="container">
    <div class="row pad-vertical">
      <h1>Resources to Prepare</h1>
      <p>Find all the <mark class="text-highlight blue">past</mark> Panini Linguistics Olympiad problems below. They are graded as per <mark class="text-highlight yellow">ease of solving</mark> , follow - <mark class="text-highlight green">green</mark> -> <mark class="text-highlight red">red</mark> for easy -> hard!</p>
      <p>Also you can, type in the year <mark class="text-highlight pink">in the format specified as below</mark> to get the problems from that year, <mark class="text-highlight blue">right-click</mark> and open / save file!</p>
    </div>
    <form class="form-inline">
      <div class="col-lg-11 col-sm-8 col-md-10 col-xs-6">
        <label class="sr-only" for="rsc-search-value">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Year</div>
          </div>
          <input type="text" v-model="search" class="form-control" id="rsc-search-value"
                 placeholder="Year the Problem Appeared in! (20XX)">
        </div>
      </div>
      <div style="padding-bottom: 7px;">
        <button type="submit" class="btn btn-primary my-1">Search</button>
      </div>
    </form>
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
        <tr class="level-color">
          <th scope="col">Name</th>
          <th>Category</th>
          <th>Solutions</th>
          <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="p in selectedProblems" :key="p.qno" :class="p.level" class="level-color">
          <th scope="row"><a :href="p.link">{{p.name}}</a></th>
          <td>{{p.category}}</td>
          <td><a :href="p.solution">Solution to {{p.name}}</a></td>
          <td>{{p.author}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- What is Linguistics -->
    <div id="rsc">
      <div class="panel list-group">
      
      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc6" data-parent="#rsc">
        Other Olympiads
      </a>
      <div class="collapse" id="rsc6">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li><mark class="text-highlight red"><a href="http://ioling.org/">The International Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight green"><a href="http://nacloweb.org/">The North American Computational Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight blue"><a href="http://www.ozclo.org.au/">The Australian Computational and Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight pink"><a href="http://www.obling.org/">Olimpíada Brasileira de Linguística</a></mark></li>
              <li><mark class="text-highlight yellow"><a href="https://ailo.adaptcentre.ie/">All Ireland Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight green"><a href="http://www.loling.lv/">Latvian Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight red"><a href="https://www.myclo.my/">Malaysian Computational Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight blue"><a href="http://krlo.kr/">Korean Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight pink"><a href="http://www.lingling.ru/olymps/mos_olymp/index.php">Russian Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight yellow"><a href="http://lope.linguistics.ntu.edu.tw/ioltw2016/">Taiwan Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight green"><a href="http://www.uklo.org/">UK Linguistics Olympiad</a></mark></li>
              <li><mark class="text-highlight red"><a href="http://ole.abumatran.eu/">Spanish Linguistics Olympiad</a></mark></li>
            </ul>
            <p> There are many other countries too! Find them at IOL.</p>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#q1" data-parent="#rsc">
        Books
      </a>
      <div class="collapse" id="q1">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li>Victoria Fromkin and Robert Rodman: <mark class="text-highlight yellow">An Introduction to Language</mark> (a widely-used undergraduate textbook, with chapters on different areas of linguistics and exercises at the end which are easier than the Advanced level questions, but testing knowledge of language as opposed to thinking skills; plus answers at the back!)</li>
              <li>Mark Baker: <mark class="text-highlight yellow">The Atoms of Language</mark> (aimed at non-specialists, with lots of talk of paradoxes and cracking codes, and introducing principles of linguistic analysis in the later chapters by comparing syntactic parameters to the periodic table).</li>
              <li>Richard Hudson: <mark class="text-highlight yellow">Invitation to Linguistics</mark> (accessible, clear, and with a focus on linguistic puzzles)</li>
              <li>David J. Peterson – <mark class="text-highlight yellow">The Art of Language Invention</mark> – Peterson is a “conlanger” – he constructs languages for film &amp; TV – including Dothraki  &amp; Valyrian for Game of Thrones. While I appreciate that many among us might be suspicious about conlangers, Peterson is a trained linguist and his book takes a newbie to linguistics through the basics of language study (phonology, lexis/semantics, morphology &amp; syntax, diachronic change, etc.) in a very accessible (and dare I say it, fun) way.</li>
              <li>Guy Deutscher’s popular linguistics books are great too: <mark class="text-highlight yellow">Through the Looking Glass</mark> Why the World Looks Different in Other Languages (the title is misleading – it is much more nuanced, based on recent linguistic relativity research presented in an accessible manner)</li>
              <li><mark class="text-highlight yellow">The Power of Babel</mark> A Natural History of Language</li>
              <li><mark class="text-highlight yellow">The Red Book and The Green Book</mark> by Dragomir Radev</li>
              <li><mark class="text-highlight yellow">Pygmalion</mark> by George Bernard Shaw</li>
              <li><a href="https://repository.library.northeastern.edu/downloads/neu:376792?datastream_id=content">Introduction to Natural Language Processing</a></li> 
            </ul>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc1" data-parent="#rsc">
        Blogs
      </a>
      <div class="collapse" id="rsc1">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li>The Language Log, written by a team of leading researchers</li>
              <li><a href="http://specgram.com/CLIII.4/08.phlogiston.cartoon.zhe.html">Specgram.com</a></li>
              <li><a href="http://kumaranhmd.blogspot.com/2015/09/international-linguistics-olympiad.html?m=1">The KMHD Blog</a></li>
            </ul>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc2" data-parent="#rsc">
        Web sites &amp; pages
      </a>
      <div class="collapse" id="rsc2">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li><mark class="text-highlight green"><a href="http://allthingslinguistic.com/post/164874346205/how-to-teach-yourself-linguistics-online-for-free">allthingslinguistic 1</a></mark>green</li>
              <li><mark class="text-highlight red"><a href="https://allthingslinguistic.com/post/133756588946/a-very-long-list-of-pop-linguistics-books-and">allthingslinguistic 2</a></mark></li>
              <li><mark class="text-highlight blue"><a href="https://www.ethnologue.com/">Ethnologue</a></mark></li>
              <li><mark class="text-highlight yellow"><a href="http://www.ancientscripts.com/">Ancient Scripts</a></mark></li>
              <li><mark class="text-highlight pink"><a href="https://wals.info/">WALS</a></mark></li>
            </ul>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc3" data-parent="#rsc">
        YouTube Channels
      </a>
      <div class="collapse" id="rsc3">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li><mark class="text-highlight green"><a href="https://www.youtube.com/channel/UCdZcGRaBV-VRRyU4t6Ur0mw">The Ling Space</a></mark></li>
              <li><mark class="text-highlight red"><a href="https://www.youtube.com/channel/UCMk_WSPy3EE16aK5HLzCJzw">NativLang</a></mark></li>
              <li><mark class="text-highlight blue"><a href="https://www.youtube.com/channel/UC-UXqiQQqGuWilWykHyhqxg">BenDuMonde</a></mark></li>
              <li><mark class="text-highlight pink"><a href="https://www.youtube.com/channel/UCh_wBCKP41wOLar1Z4FFhZA">Steve the vagabond and silly linguist</a></mark></li>
              <li><mark class="text-highlight yellow"><a href="https://www.youtube.com/channel/UCO7VPFN1unbgDVUbVx6rHEQ">Omniglot</a></mark></li>
              <li><mark class="text-highlight green"><a href="https://www.youtube.com/channel/UCNhX3WQEkraW3VHPyup8jkQ">Langfocus</a></mark></li>
              <li><mark class="text-highlight red"><a href="https://www.youtube.com/channel/UCByBOwwOU5tKddYpsrHiUUw">Xidnaf</a></mark></li>
            </ul>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc4" data-parent="#rsc">
        Movies
      </a>
      <div class="collapse" id="rsc4">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <ul>
              <li><mark class="text-highlight yellow">Project Nim</mark></li>
              <li><mark class="text-highlight blue">The Linguists</mark></li>
              <li><mark class="text-highlight pink">The Grammar of Happiness</mark></li>
              <li><mark class="text-highlight green">Arrival</mark></li>
            </ul>
            <a href="https://allthingslinguistic.com/post/164037692701/a-very-long-list-of-linguistics-movies">Even More Movies and TV Shows!</a>
          </span>
        </div>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#rsc5" data-parent="#rsc">
        Linguists &amp; Humour
      </a>
      <div class="collapse" id="rsc5">
        <div class="card card-body">
          <span class="border border-success rounded" style="padding:20px">
            <li><mark class="text-highlight green"><a href="https://en.wikipedia.org/wiki/P%C4%81%E1%B9%87ini">Panini</a></mark></li>
            <li><mark class="text-highlight red"><a href="https://en.wikipedia.org/wiki/Noam_Chomsky">Noam Chomsky</a></mark></li>
            <li><mark class="text-highlight blue"><a href="https://en.wikipedia.org/wiki/Anvita_Abbi">Anvita Abbi</a></mark></li>
            <li><mark class="text-highlight pink"><a href="https://en.wikipedia.org/wiki/Steven_Pinker">Steven Pinker</a></mark></li>
            <li><mark class="text-highlight yellow"><a href="https://en.wikipedia.org/wiki/Leonard_Bloomfield">Leonard Bloomfield</a></mark></li>
            <li><mark class="text-highlight green"><a href="https://en.wikipedia.org/wiki/Ferdinand_de_Saussure">Ferdinand de Saussure</a></mark></li>
            <li><mark class="text-highlight red"><a href="https://en.wikipedia.org/wiki/Robin_Lakoff">Robin Lakoff</a></mark></li>
            <li><mark class="text-highlight blue"><a href="https://en.wikipedia.org/wiki/William_Labov">William Labov</a></mark></li>
            <li><mark class="text-highlight pink"><a href="https://en.wikipedia.org/wiki/Karl_Verner">Karl Verner</a></mark></li>
            <li><mark class="text-highlight yellow"><a href="https://en.wikipedia.org/wiki/William_Jones_(philologist)">William Jones</a></mark></li>
            <li><mark class="text-highlight green"><a href="https://allthingslinguistic.com/">All Things Linguistics</a></mark></li>
            <li><mark class="text-highlight red"><a href="https://www.reddit.com/r/linguisticshumor/">Reddit - Linguistics Humour</a></mark></li>
            <li><mark class="text-highlight blue"><a href="http://languagelog.ldc.upenn.edu/nll/">Language Log</a></mark></li>
          </span>
        </div>
      </div>
      </div>
    </div>
  </main>
</template>

<script>
  import json from '../data/Resources.json';

  export default {
    name: 'Resources',
    data() {
      return {
        problems: json,
        search: '',
      };
    },
    mounted() {
      if (this.$route.params.hasOwnProperty('year') && this.$route.params.year !== '') {
        this.search = this.$route.params.year;
      }
    },
    computed: {
      selectedProblems() {
        if (this.search.length !== 4) {
          return this.problems;
        } else {
          return this.problems.filter((problem) => {
            return String(problem.year) === this.search;
          });
        }
      },
    },
  };
</script>

<style scoped lang="scss">
  form.form-inline {
    margin: 25px;
  }

  .level-color {
    text-align: center;
  }
  .pad-vertical {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    h1 {
      width: 100%;
    }
  }
</style>