<template>
  <div class="container">
    <WhatIsLinguistics id='what-is-linguistics'/>
  </div>
</template>

<style scoped lang="scss">
  div.container div {
    padding: 20px;
    font-size: x-large;
    text-align: justify;
    h1 {
      text-align: center;
      font-size: 3.5rem;
      padding-bottom: 20px;
    }
  }
</style>

<script>
  import WhatIsLinguistics from '../components/whats/WhatsLinguistics';
  import WhatIsAvenues from '../components/whats/WhatsAvenues';

  export default {
    name: 'WhatsLinguistics',
    components: {WhatIsLinguistics, WhatIsAvenues},
    watch: {
      '$route.params.locale'(to) {
        if (to === 'linguistics') {
          document.getElementById('what-is-linguistics').scrollIntoView();
        } else if (to === 'avenues') {
          document.getElementById('what-is-avenues').scrollIntoView();
        }
      },
    },
    mounted() {
      if (this.$route.params.locale === 'linguistics') {
        document.getElementById('what-is-linguistics').scrollIntoView();
      } else if (this.$route.params.locale === 'avenues') {
        document.getElementById('what-is-avenues').scrollIntoView();
      }
    },
  };
</script>