<template>
  <div class="container">
    <WhatIsPLO v-if="locale == 'plo'" />
    <WhatIsIOL v-if="locale == 'iol'" />
    <WhatIsAPLO v-if="locale == 'aplo'" />
  </div>
</template>

<script>
  import WhatIsPLO from '../components/whats/WhatsPLO';
  import WhatIsIOL from '../components/whats/WhatsIOL';
  import WhatIsAPLO from '../components/whats/WhatsAPLO';
  export default {
    name: 'WhatsOlympiad',
    components: { WhatIsPLO, WhatIsIOL, WhatIsAPLO },
    data() {
      return {
        locale: 'plo',
      };
    },
    mounted() {
      this.locale = this.$route.params.locale;
    },
    watch: {
      '$route.params.locale'(locale) {
        this.locale = locale;
      },
    },
  };
</script>

<style scoped>
  div.container div {
    padding: 20px;
    font-size: 2rem !important;
    text-align: center;
    line-height: 160%;
  }
  div.container div h1 {
    font-size: 3.5rem;
    padding-bottom: 20px;
  }
</style>