<template>
  <div>
    <!--first section-->
    <div class="row align-items-center timeline-worker d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">1</div>
      </div>
      <div class="col-6">
        <h3>Registration Opens!</h3>
        <h4><em>December 20</em></h4>
        <p>Eligible students can register online to participate in the Round 1 contest.
          <a href="https://ltrc.iiit.ac.in/nlpmt/plo/registration.php" class="registration">Click here to Register</a>
        </p>
        <h3><strong>Registration Closes 15th January</strong></h3>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2"> <div class="corner top-right"></div> </div>
      <div class="col-8"> <hr/> </div>
      <div class="col-2"> <div class="corner left-bottom"></div> </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end timeline-worker d-flex">
      <div class="col-6 text-right">
        <h3>Round 1 Contest</h3>
        <h4><em>February 10</em></h4>
        <p>The Round 1 contest for juniors and seniors is held at test centres across India.</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">2</div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2"> <div class="corner right-bottom"></div> </div>
      <div class="col-8"> <hr/> </div>
      <div class="col-2"> <div class="corner top-left"></div> </div>
    </div>
    <!--third section-->
    <div class="row align-items-center timeline-worker d-flex">
      <div class="col-2 text-center full justify-content-end d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">3</div>
      </div>
      <div class="col-6 text-left">
        <h3>Round 1 Results Announced!</h3>
        <h4><em>Second Week of March</em></h4>
        <p>Results of the Round 1 contest and list of students selected for the Invitational Round camp released.</p>
      </div>
    </div>
    <!--path between 3-4-->
    <div class="row timeline">
      <div class="col-2"> <div class="corner top-right"></div> </div>
      <div class="col-8"> <hr/> </div>
      <div class="col-2"> <div class="corner left-bottom"></div> </div>
    </div>
    <!--fourth section-->
    <div class="row align-items-center justify-content-end timeline-worker d-flex">
      <div class="col-6 text-right">
        <h3>Invitational Round Camp Starts</h3>
        <h4><em>4th May (tentative)</em></h4>
        <p>Selected students from across India come to IIIT Hyderabad for the camp, where they explore linguistics
          and participate in contests for selection to the International Lingusitcs Olympiad.
        </p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">4</div>
      </div>
    </div>
    <!--path between 4-5-->
    <div class="row timeline">
      <div class="col-2"> <div class="corner right-bottom"></div> </div>
      <div class="col-8"> <hr/> </div>
      <div class="col-2"> <div class="corner top-left"></div> </div>
    </div>
    <!--fifth section-->
    <div class="row align-items-center timeline-worker d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">5</div>
      </div>
      <div class="col-6 text-left">
        <h3>Team India at IOL!</h3>
        <h4><em>July 29</em></h4>
        <p>The selected participants travel to Yongin, South Korea to compete 
          in the International Lingusitics Olympiad 2019!</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Timeline',
  };
</script>

<style scoped lang="scss">
  $timeline-color: aquamarine;

  h1 {
    text-align: center;
  }
  .circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: $timeline-color;
    max-height: 50px;
    z-index: 2;
  }

  .timeline-worker.row {
    .col-2 {
      align-self: stretch;
    }
    .col-2::after {
      content: "";
      position: absolute;
      border-left: 3px solid $timeline-color;
      z-index: 1;
    }
    .col-2.bottom::after {
      height: 50%;
      left: 50%;
      top: 50%;
    }
    .col-2.full::after {
      height: 100%;
      left: calc(50% - 3px);
    }
    .col-2.top::after {
      height: 50%;
      left: 50%;
      top: 0;
    }
  }

  .timeline {
    div {
      padding: 0;
      height: 40px;
    }
    hr {
      border-top: 3px solid $timeline-color;
      margin: 0;
      top: 17px;
      position: relative;
    }
    .corner {
      border: 3px solid $timeline-color;
      width: 100%;
      position: relative;
      border-radius: 20px;
    }
    .col-2 {
      display: flex;
      overflow: hidden;
    }
    .top-right {
      left: 50%;
      top: -50%;
    }
    .left-bottom {
      left: -50%;
      top: calc(50% - 3px);
    }
    .top-left {
      left: -50%;
      top: -50%;
    }
    .right-bottom {
      left: 50%;
      top: calc(50% - 3px);
    }
  }
</style>