<template>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <table class="table table-borderless" id="plo-campeesList">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th class="sr-only" scope="col">Category</th>
          <th class="sr-only" scope="col">City</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="campee in campees" :key="campee.id" class="trcolor"
            :class="{ gold: campee.status === 1, silver: campee.status === 2,
                        bronze: campee.status === 3, sky: campee.status === 4}">
          <td>{{campee.name}}</td>
          <td class="sr-only">{{campee.category}}</td>
          <td class="sr-only">Fransokyo</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'campees',
    props: ['campees'],
  };
</script>

<style scoped>

</style>