<template>
  <div class="col-lg-12">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col" colspan="2">Team India</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="p in post" :key="p.id" :class="p.team" class="trcolor">
        <td>
          <span>{{p.name}}</span>
        </td>
        <td>
          <span>
            <span class="badge badge-pill" :class="p.medal">{{p.medal}}</span>
          </span>
          <span v-if="p.bestsol.length != 0">
            <span class="badge badge-pill badge-light">{{p.bestsol.length}} Best Solution<span v-if="p.bestsol.length > 1">s</span></span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: 'iol',
    props: ['post'],
  };
</script>

<style scoped>

</style>