<template>
  <div>
    <div>
      <h1>Panini Linguistics Olympiad {{year}}</h1>
      <p>{{post.description}}</p>
      <div>
        <p>
          <span class="font-weight-bold">Problem Committee: </span>
          {{post.memberProblemCommittee}}
        </p>
        <p>
          <span class="font-weight-bold">National Coordinator: </span>
          {{post.memberNationalCoordinator}}
        </p>
        <p>
          <span class="font-weight-bold">Jury Chair: </span>
          {{post.memberJuryChair}}
        </p>
      </div>
      <p>Check the other tabs in this year to know more!</p>
    </div>
    <div class="row">
      <div v-for="question in questions" :key="question.qno" class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{question.name}}</h5>
            <p class="card-text">
              Marks: {{question.marks}} <br/>
              Authors name: {{question.author}}
            </p>
            <router-link :to="{ path: '/resource/' + year }" class="btn btn-primary">Download</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'plo',
    props: ['post', 'questions', 'year'],
  };
</script>

<style scoped>
  .card {
    margin-bottom: 25px;
  }
</style>