<template>
  <div>
    <div class="row">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">SENIORS</th>
          <th scope="col" v-for="q in seniors" :key="q.qno">{{q.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Mean Objective Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.avgObj}}</td>
        </tr>
        <tr>
          <th scope="row">Median Objective Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.mdnObj}}</td>
        </tr>
        <tr class="table-primary">
          <th scope="row">Achievable Objective Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.totObj}}</td>
        </tr>
        <tr>
          <th scope="row">Mean Final Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.avgTot}}</td>
        </tr>
        <tr>
          <th scope="row">Median Final Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.mdnTot}}</td>
        </tr>
        <tr class="table-success">
          <th scope="row">Maximum Weighed Score</th>
          <td scope="col" v-for="q in seniors" :key="q.qno">{{q.maxTot}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">JUNIORS</th>
          <th scope="col" v-for="q in juniors" :key="q.qno">
            {{q.name}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Mean Objective Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.avgObj}}
          </td>
        </tr>
        <tr>
          <th scope="row">Median Objective Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.mdnObj}}
          </td>
        </tr>
        <tr class="table-info">
          <th scope="row">Achievable Objective Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.totObj}}
          </td>
        </tr>
        <tr>
          <th scope="row">Mean Final Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.avgTot}}
          </td>
        </tr>
        <tr>
          <th scope="row">Median Final Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.mdnTot}}
          </td>
        </tr>
        <tr class="table-success">
          <th scope="row">Maximum Weighed Score</th>
          <td scope="col" v-for="q in juniors" :key="q.qno">
            {{q.maxTot}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'stats',
    props: ['seniors', 'juniors'],
  };
</script>

<style scoped>

</style>