<template>
  <div id="app">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="./assets/logo.png" width="30" height="30" alt=""/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <router-link tag="li" to="/" class="nav-item">
            <a class="nav-link" href="#">
              Home<span class="sr-only">(current)</span>
            </a>
          </router-link>
          <router-link tag="li" to="/participate/" class="nav-item">
            <a class="nav-link" href="#">Participate</a>
          </router-link>
          <router-link tag="li" to="/resource/" class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </router-link>
          <router-link tag="li" to="/previous/" class="nav-item">
            <a class="nav-link" href="#">In the Past</a>
          </router-link>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              What is?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link to="/olympiad/plo" class="dropdown-item">
                Panini Linguistics Olympiad
              </router-link>
              <router-link to="/olympiad/iol" class="dropdown-item">
                International Olympiad in Linguistics
              </router-link>
              <router-link to="/olympiad/aplo" class="dropdown-item">
                Asia Pacific Linguistics Olympiad
              </router-link>
              <div class="dropdown-divider"></div>
              <router-link to="/whatis/linguistics/" class="dropdown-item">
                Linguistics
              </router-link>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ltrc.iiit.ac.in/nlpmt/plo/registration.php">
              Registration
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="alert alert-primary registration" id="register-alert" role="alert">
      Registration for the Panini Linguistics Olympiad is Open.
      <a href="https://ltrc.iiit.ac.in/nlpmt/plo/registration.php">Register Now.</a>
    </div>

    <transition name="fade">
      <router-view/>
    </transition>

  </div>
</template>

<style lang="scss">
  @import "assets/css/main.scss";
  @import "assets/sketchy/variables";
  @import "assets/sketchy/bootswatch";
  @import '../node_modules/bootstrap/scss/bootstrap.scss';

  div, p, a, span {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 4.0rem;
  }
  .fade-enter-active {
    transition: opacity 1.5s;
  }
  .fade-leave-active {
    opacity: 0;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .text-highlight {
    &.yellow {
      background-color: rgb(250, 248, 132);
    }
    &.red {
      background-color: rgb(255, 140, 140);
    }
    &.blue {
      background-color: rgb(132, 250, 234);
    }
    &.green {
      background-color: rgb(218, 250, 132);
    }
    &.pink {
      background-color: rgb(240, 132, 250);
    }
  }

</style>

<script>
  export default {
    name: 'App',
  };
</script>
