<template>
  <div>
    <h1>What's IOL ?</h1>
    <p class="text-center"><mark class="text-highlight yellow">Since the mid-1960s</mark>, problem-solving competitions in linguistics for secondary school students have been taking place, mainly in <mark class="text-highlight yellow">Russia, Bulgaria and other eastern European countries.</mark> In recent years, the idea of the Linguistics Olympiads has spread to Western Europe, North America, Asia and Australia. Winners of the regional competitions qualify for the <mark class="text-highlight yellow">International Linguistics Olympiad (IOL)</mark>, which has taken place annually since 2003.</p>
    <p class="text-center">As would be expected, one faces even more intriguing, compelling and creative problems at IOL from <mark class="text-highlight yellow">cracking how Barcodes are made</mark> to <mark class="text-highlight yellow">how Emojis are represented in Indonesian</mark> and from <mark class="text-highlight yellow">how to write poems in Somali’s Masafo meter</mark> to <mark class="text-highlight yellow">unlocking river based navigation systems of Sulawesi.</mark></p>
    <p class="text-center">Once you have made it to <mark class="text-highlight yellow">Team India Saffron or Green</mark>, apart from the training sessions and the pre-departure camp, the best preparation possible is to attempt as many past problems as you can. Find past IOL questions as well as samples at -> <a href="http://www.ioling.org">ioling.org</a></p>
    <p class="text-center font-weight-bold font-italic"><mark class="text-highlight yellow">To see how India has performed @IOL over the years, <router-link to="/previous/">follow this link.</router-link></mark></p>
  </div>
</template>