<template>
  <div class="text-center">
    <h1>What's Linguistics</h1>
    <div class="">
      <p><mark class="text-highlight blue">Languages</mark> ​​are one of the most fascinating and core aspects of human culture and understanding. The <mark class="text-highlight pink">scientific look</mark> at one's own language, a lot of other languages ​​and forms of communication other living beings as well, is an interesting area to study.
      <p><mark class="text-highlight yellow">  Where did languages ​​come from?</mark> <mark class="text-highlight green">   Why are they so different?</mark> <mark class="text-highlight yellow">   Do they have much in common?</mark> <mark class="text-highlight blue">  What is the relationship between our languages ​​and our ways of thinking, feeling, and living? </mark> <mark class="text-highlight red">  How do languages ​​impact the society around us?</mark></p>
      <p>^<mark class="text-highlight blue"> Linguistics</mark> studies these questions in <mark class="text-highlight blue">depth</mark> ^</p>
      <p>Many people think that a linguist is someone <mark class="text-highlight red">who speaks many languages</mark> and works as a language teacher or as an interpreter at the United Nations. In fact, these people are more accurately called <mark class="text-highlight green">"Polyglots"</mark>. While many linguists are polyglots, the focus of linguistics is <mark class="text-highlight yellow">about languages in general</mark> and not how many. To put it simply, linguistics is the <mark class="text-highlight pink">scientific study of language.</mark> It aims to understand how the language gets processed in the <mark class="text-highlight blue">mind</mark> and how language itself works. Linguists <mark class="text-highlight green">observe patterns</mark> within and across languages to try to understand how and why they are different and what makes them alike.</p>
      <p>It comprises of <mark class="text-highlight pink">sub-fields</mark> that cover: phonetics, phonology, morphology, semantics, syntax, writing systems, sociolinguistics, historical linguistics, computational linguistics, psycholinguistics, pragmatics, applied linguistics, dialectology, comparative linguistics etc. <mark class="text-highlight red">check out</mark> what each of these are by ‘googling’ them up!</p>
      <p>Ok, we are done with the (dry?) universally present definitions of Linguistics.</p>
      <p>Let’s see if you can <mark class="text-highlight green">solve this problem</mark> of defining Linguistics by visiting these links , <mark class="text-highlight green">take a break and surf through</mark>, try to get an idea of what Linguistics is:</p>
    </div>
    <div class="text-left">
      <h2>Web Links</h2>
      <ul>
        <li><a href="http://languagelog.ldc.upenn.edu/nll/?p=23394"><mark class="text-highlight green">upenn.edu - Language Log</mark></a></li>
        <li><a href="https://linguistics.arizona.edu/content/what-linguistics-and-why-study-it-0"><mark class="text-highlight yellow">arizona.edu - What's Linguistics and Why Study It</mark></a></li>
        <li><a href="http://blog.cambridgecoaching.com/what-is-linguistics-intro-to-branches-of-linguistics"><mark class="text-highlight red">cambridgecoaching.com - Intro to branches of Linguistics</mark></a></li>
        <li><a href="https://www.thoughtco.com/what-is-a-linguist-1691239"><mark class="text-highlight green">thoughtco.com - What is a Linguist</mark></a></li>
        <li><a href="https://www.linguisticsociety.org/resource/what-is-linguistics%3F"><mark class="text-highlight yellow">linguisticsociety.org - What is Linguistics</mark></a></li>
        <li><a href="https://www.sil.org/linguistics/what-linguistics"><mark class="text-highlight blue">sil.org - What Linguistics</mark></a></li>
        <li><a href="http://www.slate.com/blogs/lexicon_valley/2014/12/23/linguistic_gift_guide_popular_present_ideas_as_a_metaphor_for_linguistics.html"><mark class="text-highlight pink">slate.com - Popular present ideas as a metaphor for linguistics</mark></a></li>
      </ul>
    </div>
    <p>There are many more resources if you want to explore more about Linguistics in general, to explore that (not required for the Olympiad itself), go below the graded-past-problems-table phew! And find those resources! (P.S. there is a huge area of <mark class="text-highlight yellow">Linguistic(s) Humour</mark>, be sure to have lols, rofls while on the way to enlightenment)</p>
  </div>
</template>

<style scoped lang="scss">
  div, p, ul, li, a {
    line-height: 170%;
  }
</style>
