<template>
  <div>
    <h1>Research Avenues</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida lacinia bibendum. Pellentesque sed
      leo id sapien rutrum tempus laoreet et tellus. Donec eu purus sit amet enim tristique luctus vel sit amet lorem.
      Quisque ac risus ipsum. Proin interdum dui sit amet risus imperdiet, in interdum elit dictum. Proin sit amet
      sapien nisl. Ut a pellentesque augue. Nulla ut eleifend elit, ut facilisis massa. Phasellus nec ultrices ligula,
      id tincidunt ante.</p>
    <p>Quisque sollicitudin, arcu nec venenatis auctor, lorem orci scelerisque velit, eget efficitur diam tortor non
      turpis. Nulla dolor erat, fringilla id posuere vitae, euismod at diam. In dignissim gravida auctor. Ut non
      hendrerit sem. Suspendisse tellus ante, ultricies pharetra sollicitudin ac, dictum a elit. Nullam commodo erat
      quis ipsum suscipit vehicula. Nullam sed cursus augue. Suspendisse vestibulum rhoncus placerat. Donec ut risus
      hendrerit, accumsan nibh at, scelerisque est. Nullam ac quam sed libero porta venenatis ac sit amet mauris.
      Integer urna urna, aliquet a pharetra ut, accumsan ut magna. Etiam fermentum diam eu elit sagittis pretium. Fusce
      a eros in ex pharetra tincidunt. Duis nisl magna, volutpat at sodales eu, porttitor vitae leo. Suspendisse
      hendrerit arcu orci, vitae vehicula diam feugiat sed. Vestibulum in risus erat.</p>
    <p>Sed id velit vestibulum, tincidunt ante sed, dapibus risus. In hac habitasse platea dictumst. Cras lobortis massa
      eget nisi faucibus, nec vehicula nulla gravida. Proin sit amet vulputate augue. Fusce aliquet, orci sit amet
      auctor accumsan, lorem nisi aliquet lorem, consequat fringilla neque sapien iaculis urna. Duis porttitor arcu
      neque, maximus sodales odio ultrices sed. Curabitur eleifend turpis nibh. Pellentesque sed feugiat quam, sed
      vestibulum sem. Integer fringilla mollis lectus. Etiam ut enim nisi. Donec nisl nisi, ullamcorper sed ante ut,
      blandit feugiat purus. Pellentesque sodales mauris quis ligula tempor pretium.</p>
  </div>
</template>