<template>
  <div>
    <h1>What's PLO ?</h1>
    <p class="text-center">The Panini Linguistics Olympiad is the Indian national program for selection and training of the
      candidates who <mark class="text-highlight green">represent India at the International Linguistics Olympiad (IOL)</mark>. The program is
      coordinated by Microsoft Research Labs India, International Institute of Information
      Technology Hyderabad, JNU Delhi and the University of Mumbai &amp; is actively supported by regional
      coordinators across the country including Chennai Mathematical Institute, IIT Guwahati, SNLTR
      Kolkata, and IIT Patna. The main purpose of PLO is <mark class="text-highlight blue">to create awareness of linguistics amongst
      students of the country</mark>, and <mark class="text-highlight pink">popularize the fields of linguistics and computational linguistics</mark> as areas
      of further study and research.
    </p>
    <p class="text-center">The PLO Round 1 is a national level test which typically comprises of about <mark class="text-highlight red">5-6 problems</mark> to be solved in <mark class="text-highlight red">4 hrs</mark>. These problems are all <mark class="text-highlight green">self-contained</mark>, i.e. <mark class="text-highlight red">unlike other competitions</mark>, all the data you need to crack the whole thing, is <mark class="text-highlight green">in the problem itself</mark>, thus, you are expected to sharpen logic and develop your own techniques to solve problems from languages all over the world and <mark class="text-highlight blue">uncover new features</mark>, that you might not have thought of before! (In those 4 hrs itself)</p>
    <p class="text-center">
      Thus, it also touches on the aspect of making you aware of <mark class="text-highlight blue">what linguistics as a field is</mark> and how
      <mark class="text-highlight pink">interesting</mark> it can get. It gets one thinking on how to scientifically approach something like a language,
      which they have been in contact with, ‘forever’. After PLO, they are enabled to <mark class="text-highlight yellow">look for patterns
      around them in languages and how they function.</mark>
    </p>
    <p class="text-center"><mark class="text-highlight red">Don’t fret on preparation.</mark> If you still want to, feel free to <mark class="text-highlight green">explore the collection</mark> of past PLO problems (under the Resources tab) 😉. They are arranged by their <mark class="text-highlight blue">levels of difficulty</mark>, so you can start with the <mark class="text-highlight green">light green</mark> problems and when you feel confident enough, move on to the <mark class="text-highlight red">darker shades.</mark></p>
    <p class="text-center"><strong><u>PLO Round 2</u></strong></p>
    <p class="text-center">Is typically a <mark class="text-highlight blue">7 to 10 day camp</mark>, for the top 25-30 seniors and 5-10 juniors selected in that year. It was hosted by <mark class="text-highlight yellow">Microsoft Research Lab, Bangalore</mark> till 2015, after which <mark class="text-highlight green">International Institute of Information Technology, Hyderabad</mark> took over.</p>
    <p class="text-center">At this camp, some of the <mark class="text-highlight red">top linguists and computational linguists</mark> work on introducing linguistics, in its full glory, covering areas like phonology, semantics, historical linguistics, computational linguistics etc. while also training the students for the Olympiad, where <mark class="text-highlight pink">you can solve some cool olmypiad problems based on what you learn in the lectures.</mark> In between this week of fun, contestants compete in a mid test and an end test which determine wether they are selected to participate in the IOL.</p>
    <p class="text-center font-italic font-weight-bold">To look at <mark class="text-highlight blue">past results and stats of PLO</mark> <router-link to="/previous/">follow this link.</router-link></p>
  </div>
</template>