<template>
  <div>
    <h1>What's APLO ?</h1>
    <p class="text-center">
       <mark class="text-highlight blue">The Asia Pacific Linguistics Olympiad (APLO)</mark> is a regional linguistics olympiad with the aim
       of escalating attention to language and linguistics in the Asia Pacific region.  It is 
       <mark class="text-highlight blue">similar</mark> to the International Linguistics Olympiad in spirit, and the nature and style 
       of the problems. APLO is not a contest where students from different countries 
       physically meet in one place to participate in the competitions. Instead, <mark class="text-highlight blue">all 
       contestants will compete in their home country on the same day</mark>.
    </p>
    <p class="text-center">
       <mark class="text-highlight blue">In India</mark>, students who make it to the Round 2 camp earn a chance to compete in this Olympiad.
    </p>
    <p class="text-center">
      The APLO will be held on the <mark class="text-highlight blue">first Sunday of May</mark> every year, beginning in 2019. 
    </p>
    <p>
      Follow the link to the <a href="https://www.aplo.asia">The Official APLO Website here</a>.
    </p>
  </div>
</template>